<template>
<div class="container-fluid">

  <div class="col-8 p-5">
        <h3 class="text-uppercase">Recipes</h3>
        
        <div class="row">
          <div class="col-3"
            v-for="i in 8"
            :key="i"
          >
            <div 
              class="card m-3"
            >
              <img 
                src="https://picsum.photos/200" 
                class="card-img-top"
              >
              <ul class="actions">
                <li><button class="btn bg-vue" data-tip="Anschauen"><i class="fa fa-search"></i></button></li>
                <li><button class="btn bg-vue" data-tip="Merkzettel"><i class="fa-solid fa-bookmark"></i>></button></li>
                <li><button class="btn bg-vue" data-tip="Like"><i class="fa-solid fa-card-heart"></i></button></li>
              </ul>

              <span class="product-sale-label bg-vue">Vegan</span>
              <span class="product-discount-label bg-vue2">Lunch</span>

              <div class="card-body">
                <h6 class="card-title">Produkt 1</h6>
                <p class="card-subtitle text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div class="text-center mt-3">
                  <div class="lead">
                    <strong class="color-vue">Likes: </strong>
                    <span class="ml-4 color-vue2"><del>€29.99</del></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</template>

<script>


export default {
  name: 'App',
  components: {
   
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
